body {
    margin: 0;
    background: #8dc63f;
    font-family: 'Arial';
}



h1 {
    font-size: 24px;
    line-height: 7px;
    color: #39930d;
    font-weight: bold;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}

.body {
    margin: auto;
    max-width: 960px;
    padding: 15px 16px;
    background: white;
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #39930d;
}

.header p {
    color: #5a5a5a;
}

.header a {
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
}

.ball img {
    width: 102px;
    height: 100px;
}

.big  {
    width: 100%;
}

.contact {
    background: #39930d;
}

.block2 p {
    font-size: 14px;
    
    color: #343434;
}

.block1 a {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}

.block1 h2 {
    font-size: 18px;
    color: #ffffff;
    width: 300px;
    padding: 14px 71px 13px 19px;
    background-color: #39930d;

}

.contact p {
    color: #ffffff;
   
}

footer {
    margin-top: -15px;
    width: 100%;
}
